
<div class="p-3 bg-dark text-light" data-bs-them="dark">
    <div class="container-xxl">
        <div class="row row-cols-1 row-cols-md-3 text-center">
            <div class="col order-last order-md-first text-md-start">
                <div class="row">
                    <div class="col-12 small">
                        <span class="me-1">Built By</span><span><img src="/images/logo.png" height="30"/></span>
                    </div>
                    <div class="col-12 small">
                        &copy; 2025 by Eric Zhang. All right reserved.
                    </div>
                </div>
            </div>
            <div class="col lead">
                <div>Powered By</div>
                <img src="/images/tmdb_long_logo.svg" height="20" />
            </div>
            <div class="col d-flex flex-column justify-content-end text-md-center">
                <div class="row">
                    <div class="col-12">
                        <a href="https://www.linkedin.com/in/ericzhangzhixuan" target="_blank"><i class="bi bi-linkedin"></i></a>
                        <a href="https://github.com/zzhang025" target="_blank"><i class="bi bi-github"></i></a>
                        <a href="https://eric-zhang-portfolio.netlify.app/" target="_blank"><i class="bi bi-file-person-fill"></i></a>
                        <a href="#"><i class="bi bi-person-lines-fill"></i></a>
                    </div>
                    <div class="col-12 small">
                        <a href="#">Portfolio</a>
                        &bull;
                        <a href="#">Blog</a>
                        &bull;
                        <a href="#">Bug Tracker</a>
                        &bull;
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
