
<div class="movieCard card h-100">
    <img src="/images/poster.png" alt="Movie Poster" class="card-img-top" />

    <div class="card-body border border-top">
        <div class="card-title fw-bold 1h-1">
            Movie Title
        </div>
        <div class="card-text 1h-1 fst-italic">
            Release Date: Dec 01, 2024
        </div>
    </div>
    <div class="movieCardFooter card-footer d-flex justify-content-between">
        <button class="btn btn-outline-primary">Add Fav</button>
        <a href="moviedetail" class="btn btn-primary">More Info</a>
    </div>
</div>


@code {

}
