
.movieCard{
    box-shadow: 0 4px 8px rgba(0,0,0,.1);
    transition: transform 0.2s ease-in-out;
}

.movieCard:hover{
    transform: scale(1.03);
    z-index: 99;
}

.movieCardFooter .btn{
    font-size: .9rem;
}