@page "/favourites";

<PageTitle>Favourites</PageTitle>

<div class="container-xxl py-3">
    <h1>
        <i class="bi bi-heart text-danger"></i>
        Favourite
    </h1>
    <p class="lead italic">
        Movies that you have added to your favourites.
    </p>
</div>


@code {

}
