.pageStyle {
    background: url(images/LandingPageBG.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title {
    font-family: var(--ez-title-font);
    font-size: 2.5rem;
    color: var(--cf-title-color);
    line-height: 3rem;
}

.subTitle {
    font-family: var(--ez-body-font);
    font-size: 1.3rem;
}

.devicons {
    font-size: 2rem;
}

/*@media (min-width:992px){
    .title {
        font-family: var(--ez-title-font);
        font-size: 3.5rem;
        color: var(--cf-title-color);
        line-height: 4rem;
    }

    .subTitle {
        font-family: var(--ez-body-font);
        font-size: 2.5rem;
    }

    .devicons {
        font-size: 3rem;
    }
}*/

.landingpage-img {
    height: 700px;
}