@page "/"

<PageTitle>Home</PageTitle>

<!--Page Background-->
<div class="pageStyle h-100 d-flex justify-content-center">
    <div class="row row-cols-1 row-cols-xl-2 container-xxl h-100">
        <div class="col d-flex flex-column justify-content-xl-center order-last order-xl-first">
            <div class="title">App Name: A Coding Challenge</div>
            <div class="subTitle">Your app description will go here</div>
            <div class="mt-3">
                <button type="button" class="rounded btn btn-primary">Try it Out!</button>
            </div>

            <div class="mt-3">
                Built with pride using:
                <div class="hstack my-2">
                    <div><i class="devicons devicon-csharp-plain colored me-1"></i></div>
                    <div><i class="devicons devicon-bootstrap-plain colored me-1"></i></div>
                    <div><i class="devicons devicon-javascript-plain colored me-1"></i></div>
                    <div><i class="devicons devicon-html5-plain colored me-1"></i></div>
                    <div><i class="devicons devicon-css3-plain colored me-1"></i></div>
                </div>
            </div>
        </div>
        <div class="col d-flex flex-column justify-content-center">
            <img src="/images/LandingPageLogo.png" class="img-fluid"/>
        </div>
    </div>
</div>

