@page "/now-playing";
@inject HttpClient HttpClient;
@inject IConfiguration Configuration;

<PageTitle>Now Playing</PageTitle>

<div class="container-xxl py-3">

    <h1>
        <i class="bi bi-film text-primary"></i>
        Now Playing
    </h1>
    <p class="lead italic">
        Movies that are now playing in theatres.
    </p>

    <div class="row g-3 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
        @for (int i = 1; i < 20; i++)
        {
            <div class="col">
                <MovieCard />
            </div>
        }
    </div>
</div>


@code {

}
